<p>
  <%= form.label :login %><br />
  <%= form.text_field :login,:class=>"input-block-level" %>
</p>
<p>
  <%= form.label :email %><br />
  <%= form.text_field :email,:class=>"input-block-level" %>
</p>
<p>
  <%= form.label :firstname %><br />
  <%= form.text_field :firstname,:class=>"input-block-level" %>
</p>
<p>
  <%= form.label :lastname %><br />
  <%= form.text_field :lastname,:class=>"input-block-level" %>
</p>
<p>
  <%= form.label :gender %><br />
  <%= form.select :gender, ["male","female"] %>
</p>
 <p>
  <%= form.label :organisation %><br />
  <%= form.select :organisation_id, Organisation.all.collect{|t|[t.name,t.id]} %>
</p>
<p>
  <%= form.label :"Date of Birth" %><br />
  <%#= form.date_select :dob %>
  <%= form.text_field :dob,:class=>"input-block-level" %>

</p>

<p>
  <%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
  <%= form.password_field :password,:class=>"input-block-level" %>
</p>
<p>
  <%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation,:class=>"input-block-level" %>
</p>